@import "app/scss/abstracts/_variables.scss";
@import "app/scss/abstracts/_mixins.scss";
.buy {
  //padding: 0 24px;
  .filter-bar {
    position: -webkit-sticky;
    position: sticky;
    background: #fff;
    -webkit-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
    border-top: 1px solid #e6e9ed;
    border-bottom: 1px solid #e6e9ed;
    top: -65px;
    z-index: 199;
    @include respond(desktop) {
      top: 0px;
    }

    .search-bar {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      max-width: 100%;
      margin: auto;
      @include respond(desktop) {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .search-box {
        width: 100%;
        padding: 10px 18px;
        max-width: 600px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        @include respond(desktop) {
          padding: 10px 0 10px 24px;
        }
        input {
          flex: 1;
          border: 2px #d0d3d9 solid;
          padding: 0 12px;
          &:focus,
          &:visited,
          &:hover {
            border: 2px $color-primary solid;
          }
        }
        .search-button {
          padding: 0.6rem 0.8rem;
          background: $color-primary;
          color: #fff;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          svg {
            font-size: 1.5rem;
          }
        }
      }
      .filter-bar__items {
        width: 100%;
        @include respond(phone) {
          padding-top: 0;
        }
        .filter-inner-bar {
          position: relative;
          white-space: nowrap;
          overflow: auto;
          overflow-y: hidden;
          -webkit-overflow-scrolling: touch;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-transition: padding-top 0.1s linear, margin-bottom 0.1s linear;
          transition: padding-top 0.1s linear, margin-bottom 0.1s linear;
          z-index: 0;
          padding: 14px 18px;
          background: #fff;
          display: flex;
          align-items: center;
          @include respond(desktop) {
            padding: 14px 24px;
          }
          .filter-items {
            position: relative;
            z-index: 50;
            display: flex;
            align-items: center;
            -webkit-text-decoration: none;
            text-decoration: none;
            vertical-align: top;
            border: solid 1px #d0d3d9;
            background: #fff;
            color: #3c475b;
            padding: 0 9px;
            border-radius: 32px;
            font-weight: bold;
            margin-right: 8px;
            cursor: pointer;
            outline: none;
            -webkit-transition: color 0.1s ease-in-out,
              border-color 0.1s ease-in-out, background 0.1s ease-in-out;
            transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out,
              background 0.1s ease-in-out;
            font-size: 10.5pt;
            line-height: 2.45em;
            &:hover {
              background: rgba(208, 211, 217, 0.3);
            }
          }
          .active {
            // border-color: #0ea800;
            // color: #0ea800;
            border-color: $color-primary;
            color: $color-primary;
            background: #e6f6e5;
            z-index: 50;
          }
        }
      }
    }
  }
  .pathname {
    padding-left: 24px;
    padding-right: 24px;
    color: #a9afba;
    min-width: 356px;
    max-width: 580px;

    background-color: #fafbfc;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 14px;
    line-height: 18px;
    padding-top: 18px;
    @include respond(phone) {
      background-color: transparent;
      padding-left: 18px;
      padding-right: 18px;
    }

    @include respond(desktop) {
      padding-left: 24px;
      padding-right: 24px;
    }

    .root {
      webkit-transition: text-decoration 0.2s linear color 0.2s linear;
      transition: text-decoration 0.2s linear color 0.2s linear;

      -webkit-text-decoration: none;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }
    svg {
      margin: 0.2rem;
      font-size: 0.7rem;
    }
  }
  &-content {
    padding-left: 24px;
    padding-right: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 13px;
    @include respond(sm-tab) {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: stretch;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
    }

    &__left {
      @include respond(sm-tab) {
        min-width: 356px;
        max-width: 580px;
        margin-right: 24px;
      }
      @include respond(desktop) {
        margin-right: 62px;
      }
      .property-details {
        padding-left: 18px;
        padding-right: 18px;
        @include respond(sm-tab) {
          padding-left: 0;
          padding-right: 0;
        }
        .property-summary {
          font-size: 23px;
          line-height: 30px;
          font-weight: bold;
          font-weight: bold;
          color: #3c475b;
          overflow: hidden;
          @include respond(sm-tab) {
            font-size: 28px;
            line-height: 36px;
          }

          @include respond(desktop) {
            font-size: 31px;
            line-height: 36px;
          }
        }
      }
      .property-tab {
        margin: 24px 0;
        // display: none;
        height: 42px;
        position: relative;
        z-index: 0;
        @include respond(desktop) {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        }
        &__list {
          @include respond(desktop) {
            padding-left: 12px;
            padding-right: 12px;
          }
          &:first-of-type {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            margin-left: 0;
          }
          &:last-of-type {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
          &.active,
          &:hover,
          &:focus {
            // color: #0ea800;
            // border-color: #0ea800;
            color: $color-primary;
            border-color: $color-primary;
            background-color: #f3faf2;
            z-index: 1;
          }
          padding: 0;
          border: 0;
          background: none;
          color: inherit;
          font-family: inherit;
          font-size: inherit;
          text-align: inherit;
          // display: inline-block;
          border-width: 1px;
          border-style: solid;
          border-color: #d0d3d9;
          -webkit-text-decoration: none;
          text-decoration: none;
          vertical-align: bottom;
          font-size: 14px;
          line-height: 42px;
          background-color: transparent;
          -webkit-transition: color 0.2s ease, background-color 0.2s ease;
          transition: color 0.2s ease, background-color 0.2s ease;
          white-space: nowrap;
          margin-left: -1px;
          padding: 0 12px;
          z-index: 0;
          color: #3c475b;
          .tab-item-text {
            font-weight: bold;
            font-size: 16px;
            padding-left: 6px;
          }
        }
      }
      .property-block {
        color: #515b6e;
        &__header {
          margin: 24px 0 24px;
          .sort-list {
            color: $color-primary;
            &__text {
              margin-left: 0.3rem;
              // border-color: #0ea800;
              border-color: $color-primary;
              border-style: none none dashed;
            }
          }
        }
        &__body {
          width: 580px;
          @include respond(phone) {
            width: 100%;
          }
          .listing-card {
            margin-bottom: 20px;
            &-project {
              border-radius: 3px;
              overflow: hidden;
              position: relative;
              background-color: #fff;
              box-shadow: 0px 1px 3px rgba(30, 41, 61, 0.1),
                0px 1px 2px rgba(30, 41, 61, 0.2);
              max-width: 693px;
              .listing-card__topspot {
                position: absolute;
                top: 0;
                z-index: 3;
                padding: 8px;
                right: 0;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                strong {
                  display: block;
                  padding: 3px 6px;
                  -webkit-letter-spacing: 0.12px;
                  -moz-letter-spacing: 0.12px;
                  -ms-letter-spacing: 0.12px;
                  letter-spacing: 0.12px;
                  line-height: 18px;
                  text-transform: uppercase;
                  font-weight: bold;
                  font-size: 12px;
                  color: #fff;
                  background-color: #1e293d;
                  pointer-events: none;
                }
              }
            }
            &__wrapper {
              border-radius: 3px;
              overflow: hidden;
              position: relative;
              background-color: #fff;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              width: 100%;
              -webkit-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              height: 100%;
              .top-card {
                position: relative;
                background-color: #f2f5f7;
                min-width: auto;
                .wrapper-body-link {
                  position: relative;
                  padding-top: 66.66%;
                  /* height: 0; */
                  display: block !important;
                  height: auto;
                  z-index: 2;
                  .listing-card-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    .wrapper-image {
                      display: block;
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      object-position: 50% 50%;
                    }
                  }
                }
              }
              .listing-card-tag {
                position: absolute;
                top: 0;
                z-index: 3;
                padding: 8px;
                left: 0;
                &__text {
                  display: block;
                  padding: 3px 6px;
                  -webkit-letter-spacing: 0.12px;
                  -moz-letter-spacing: 0.12px;
                  -ms-letter-spacing: 0.12px;
                  letter-spacing: 0.12px;
                  line-height: 18px;
                  text-transform: uppercase;
                  font-weight: bold;
                  font-size: 12px;
                  color: #fff;
                  display: inline-block;
                  background-color: $color-primary;
                  pointer-events: none;
                }
              }
              .listing-card-branding {
                background-color: #ff0000;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                padding: 6px 12px 6px 18px;
                .employee-image {
                  width: 36px;
                  height: 36px;
                  border-radius: 50%;
                  border: 1px solid #fff;
                  margin-right: 12px;
                  overflow: hidden;
                  -webkit-align-self: center;
                  -ms-flex-item-align: center;
                  align-self: center;
                  @include respond(tab) {
                    width: 48px;
                    height: 48px;
                  }
                }
                .emp-details {
                  max-width: 100%;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  -webkit-flex: 1;
                  -ms-flex: 1;
                  flex: 1;
                  min-width: 0;
                  color: #fff;
                  -webkit-align-self: center;
                  -ms-flex-item-align: center;
                  align-self: center;
                  font-size: 14px;
                  line-height: 18px;
                  margin-right: 12px;
                }
                .comp-logo {
                  webkit-align-self: center;
                  -ms-flex-item-align: center;
                  align-self: center;
                  text-align: right;
                  .listing-card-lazy-image {
                    min-height: 1px;
                  }
                  img {
                    height: 30px;
                    vertical-align: middle;
                    @include respond(tab) {
                      height: 42px;
                    }
                  }
                }
              }
              .bottom-card {
                padding: 12px 12px 12px 18px;
                min-width: 0;
                overflow: hidden;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-flow: column;
                -ms-flex-flow: column;
                flex-flow: column;
                &__row {
                  overflow: hidden;
                  color: #3c475b;
                  .listing-card-price-wrapper {
                    margin-bottom: 3px;
                    padding-right: 30px;
                    position: relative;
                    @include respond(tab) {
                      margin-bottom: 6px;
                    }
                    svg {
                      position: absolute;
                      right: 0;
                      top: 0;
                      padding: 0;
                      border: 0;
                      background: none;
                      color: inherit;
                      font-family: inherit;
                      font-size: inherit;
                      text-align: inherit;
                      margin: 3px;
                      cursor: pointer;

                      z-index: 3;
                      &:hover {
                        color: #fc0;
                      }
                    }
                  }
                }
                .address {
                  display: block;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  -webkit-transition: color 0.1s ease-in-out;
                  transition: color 0.1s ease-in-out;
                  color: #3c475b;
                  &-wrapper {
                    position: relative;
                    z-index: 3;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: normal;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: start;
                    -webkit-justify-content: flex-start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    &:hover {
                      -webkit-text-decoration: none;
                      text-decoration: none;
                      color: $color-primary;
                    }
                    .address-line1,
                    .address-line2 {
                      max-width: 100%;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      overflow: hidden;
                    }
                  }
                }
                .listing-card-features-wrapper {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-wrap: wrap;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
                  //margin-left: -14px;
                  margin-top: 8px;
                  .property-features {
                    font-size: 14px;
                    line-height: 18px;
                    display: -webkit-inline-box;
                    display: -webkit-inline-flex;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    width: auto;
                    color: #3c475b;
                    -webkit-box-pack: start;
                    -webkit-justify-content: flex-start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    width: auto;
                    margin-right: 10px;

                    @include respond(sm-tab) {
                      font-size: 14px;
                      line-height: 18px;
                    }

                    @include respond(desktop) {
                      font-size: 14px;
                      line-height: 18px;
                    }

                    // &::before {
                    //   content: "";
                    //   display: inline-block;
                    //   width: 4px;
                    //   height: 4px;
                    //   border-radius: 50%;
                    //   background-color: #3c475b;
                    //   vertical-align: middle;
                    //   margin-right: 10px;
                    // }
                    &-wrapper {
                      display: -webkit-inline-box;
                      display: -webkit-inline-flex;
                      display: -ms-inline-flexbox;
                      display: inline-flex;
                      -webkit-align-items: center;
                      -webkit-box-align: center;
                      -ms-flex-align: center;
                      align-items: center;
                    }
                    &-feature {
                      display: -webkit-box;
                      display: -webkit-flex;
                      display: -ms-flexbox;
                      display: flex;
                      -webkit-align-items: center;
                      -webkit-box-align: center;
                      -ms-flex-align: center;
                      align-items: center;
                      -webkit-flex-direction: row-reverse;
                      -ms-flex-direction: row-reverse;
                      flex-direction: row-reverse;
                      margin-left: 10px;
                      &:first-of-type {
                        border-left: 0;
                        margin-left: 0;
                      }
                    }
                    &-text-container {
                      font-weight: bold;
                      margin-left: 6px;
                    }
                    &-text {
                      position: absolute;
                      width: 1px;
                      height: 1px;
                      margin: -1px;
                      padding: 0;
                      -webkit-clip: rect(1px, 1px, 1px, 1px);
                      clip: rect(1px, 1px, 1px, 1px);
                      border: 0;
                      overflow: hidden;
                      -webkit-clip-path: inset(100%);
                      clip-path: inset(100%);
                      -webkit-clip-path: none;
                    }
                    .property-feature__icon {
                      stroke-linejoin: round;
                      stroke-linecap: round;
                      fill: none;
                      vertical-align: middle;
                      width: 18px;
                      height: 18px;
                    }
                  }
                  .land-type {
                    max-width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    &::before {
                      content: "";
                      display: inline-block;
                      width: 4px;
                      height: 4px;
                      border-radius: 50%;
                      background-color: #3c475b;
                      vertical-align: middle;
                      margin-right: 10px;
                    }
                    &__text {
                      max-width: 100%;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      overflow: hidden;
                      font-weight: bold;
                      font-size: 14px;
                      line-height: 24px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
