.footer {
  padding: 48px 20px 24px;
  display: flex;
  justify-content: space-between;
  background-color: #0b2047;
  color: #515b6e;
  flex-wrap: wrap;
  &-header {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
  }
  .about-us,
  .contact-us,
  .our-service,
  .social-platform {
    //flex: 25%;
    padding: 2rem;
  }
  .about-us {
    flex: 2;
  }
  .contact-us,
  .our-service,
  .social-platform {
    flex: 1;
  }
  .our-service,
  .social-platform {
    .footer-body__row {
      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }
  &-body {
    font-size: 14px;
    &__row {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
      .location-icon,
      .call-icon,
      .email-icon {
        font-size: 1.5rem;
      }
    }
  }
}
