@import "../abstracts/mixins";
@import "../abstracts/variables";

.nav-bar {
  &__toolbar {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
  &-bag {
    overflow: hidden;
    position: absolute;
    height: 204px;
    width: 100%;
    @include respond(desktop) {
      z-index: -1;
      top: 0;
      left: 0;
      height: 355px;
    }
    @include respond(med-desktop) {
      z-index: -1;
      top: 0;
      left: 0;
      height: 355px;
    }
    @include respond(big-desktop) {
      z-index: -1;
      top: 0;
      left: 0;
      height: 355px;
    }
    &__item {
      background-image: url(https://static.domain.com.au/content/web/residential/hero/homepage-12-optimised-desktop.jpg);
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      @include respond(desktop) {
        background-position: center top;
        &::before {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #3c475b);
          opacity: 0.6;
          z-index: 1;
        }
      }
      @include respond(med-desktop) {
        background-position: center top;
        &::before {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #3c475b);
          opacity: 0.6;
          z-index: 1;
        }
      }
      @include respond(big-desktop) {
        background-position: center top;
        &::before {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #3c475b);
          opacity: 0.6;
          z-index: 1;
        }
      }
    }
  }
  &__toolbar {
    @include respond(phone) {
      height: 54px;
    }
    @include respond(tab) {
      height: 54px;
    }
    @include respond(desktop) {
      webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 20px 24px 16px;
    }
    @include respond(mid-desktop) {
      webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 20px 24px 16px;
    }
    @include respond(big-desktop) {
      webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 20px 24px 16px;
    }
    .company-name {
      padding-right: 23px;
      //padding-top: 10px;
      float: left;
      -webkit-text-decoration: none;
      text-decoration: none;
      position: relative;
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: 1.5px;
      //color: #fff;
    }
    .mobile-nav__main-toggle,
    .mobile-nav__secondary-toggle {
      margin: 0;
      padding: 0;
      border: 0;
      background: none;
      color: #fff;
      -webkit-text-decoration: none;
      text-decoration: none;
      margin-left: calc(18px - 8px);
      z-index: 202;
      position: relative;
      cursor: pointer;
      text-indent: -9999px;
      -webkit-transition: opacity, filter 0.15s linear;
      transition: opacity, filter 0.15s linear;
      border-radius: 0;
      width: 40px;
      @include respond(tab) {
        display: none;
      }
      @include respond(desktop) {
        display: none;
      }
      @include respond(med-desktop) {
        display: none;
      }
      @include respond(bigdesktop) {
        display: none;
      }
    }
    .navigation {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      .login {
        //padding: 10px 6px;
        float: right;
        .btn-login {
          display: block;
          line-height: inherit;
          -webkit-text-decoration: none;
          text-decoration: none;
          //color: #fff;
          background: 0;
          position: relative;
          margin-right: 4px;
          padding: 9px;
          -webkit-transition: background linear 0.2s;
          transition: background linear 0.2s;
          //color: #fff;
          font-weight: normal;
          font-size: 16px;
          cursor: pointer;
          border: 0;
        }
      }
      &__ul {
        float: right;
        list-style: none;
        margin: 0;
      }
      &__li {
        position: relative;
        float: left;
        cursor: pointer;
        .list-item {
          background: 0;
          // color: #fff;
          text-decoration: none;
          display: flex;
          padding: 10px 9px;
          line-height: inherit;
          -webkit-text-decoration: none;
          align-items: center;
          background: 0;
          position: relative;
          .domain-icon {
            stroke-linejoin: round;
            stroke-linecap: round;
            fill: none;
            vertical-align: middle;
            width: 18px;
            height: 18px;
          }
          &::after {
            position: absolute;
            bottom: -3px;
            left: 50%;
            right: 0;
            margin: 0;
            margin-left: 0;
            width: 0;
            content: "";
            color: transparent;
            //background-color: #0ea800;
            background-color: $color-primary;
            height: 3px;
            -webkit-transition: width 0.15s linear, margin 0.15s linear;
            transition: width 0.15s linear, margin 0.15s linear;
            background-color: #fff;
          }
          &:hover:after {
            width: calc(100% - 40px);
            margin-left: calc(-50% + 10px);
          }
        }
        .header-menu-desktop-dropdown.active {
          display: block;
        }
        .header-menu-desktop-dropdown {
          display: none;
          position: absolute;
          top: 100%;
          left: 50%;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
          z-index: 200;
          width: 210px;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 10px;
          margin-top: 16px;
          margin-left: -105px;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(242, 245, 247);
          border-image: initial;
          background: rgb(255, 255, 255);
          list-style: none;
          &::before,
          &::after {
            margin-left: -7px;
            border-width: 7px;
            border-style: solid;
            border-color: transparent transparent #fff;
            border-image: initial;
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: 0px;
            height: 0px;
            content: "";
            pointer-events: none;
          }
          &__item {
            a {
              display: block;
              padding: 10px 9px;
              line-height: inherit;
              -webkit-text-decoration: none;
              text-decoration: none;
              color: #3c475b;
              background: 0;
              position: relative;
            }
          }
        }
      }
      .logged-in {
        position: relative;
        .user-image {
          font-size: 1.5rem;
        }

        .header-menu-desktop-dropdown {
          position: absolute;
          width: 290px;
          top: calc(100% + 9.5px);
          right: 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
          z-index: 200;
          margin-left: -145px;
          margin-top: 10px;
          background: rgb(255, 255, 255);
          border-width: 1px;
          border-style: solid;
          border-color: rgb(242, 245, 247);
          border-image: initial;
          display: none;
          &__item {
            padding: 1rem;
            border-bottom: 1px solid #dcdcdc;
            a {
              color: black;
            }
          }
          .user-header {
            min-height: 72px;
            background: rgb(242, 245, 247);
            padding: 18px;
            &__icon {
              position: relative;
              float: left;
              margin: 0 15px 0 0;
              width: 36px;
              height: 36px;
              .inner-icon {
                border: 1px solid #e6e9ed;
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 100%;
                background-color: #e6e9ed;
                background-size: 100%;
                overflow: hidden;
                text-indent: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .domain-icon {
                  width: 100%;
                  height: 100%;
                  stroke-linejoin: round;
                  stroke-linecap: round;
                  fill: none;
                  vertical-align: middle;
                  width: 24px;
                  height: 24px;
                }
              }
            }
            &__email {
              color: rgb(60, 71, 91);
              display: block;
              font-size: 14px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
          .user-menu-ul {
            width: 100%;
            margin: 0px;
            padding: 0px 18px;
            border-width: 0px;
            border-style: initial;
            border-color: initial;
            border-image: initial;
            &__item {
              margin-top: 0px;
              padding: 0px;
              border-left: 0px !important;
              border-right: 0px !important;
              &:not(:last-child) {
                border-bottom: 1px solid rgb(208, 211, 217);
              }
              a {
                display: block;
                color: rgb(60, 71, 91);
                padding: 15px 0px;
                text-decoration: none;
                & > svg {
                  margin-right: 27px;
                  position: relative;
                  float: left;
                }
              }
            }
          }
          &::before {
            position: absolute;
            right: 0px;
            margin-left: -7px;
            left: 85%;
            bottom: 100%;
            width: 0px;
            height: 0px;
            content: "";
            pointer-events: none;
            border-width: 7px;
            border-style: solid;
            border-color: transparent transparent rgb(242, 245, 247);
            border-image: initial;
          }
        }
        .active {
          display: block;
        }
      }
    }
  }
}

.black-bar {
  .company-name,
  .list-item,
  .btn-login {
    color: #3c475b;
  }
}
.white-bar {
  .company-name,
  .list-item,
  .btn-login {
    color: #fff;
  }
}
