@font-face {
  font-family: "JostFont";
  src: local("JostFont"), url(../../fonts/josh/Jost-Regular.ttf) format("woff");
}
@font-face {
  font-family: "Sans-Pro";
  src: local("Sans-Pro"),
    url(../../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format("woff");
}
