.button {
  &,
  &:link,
  &:visited {
    text-transform: capitalize;
    text-decoration: none;
    padding: 0px 16px;
    display: inline-block;
    border-radius: 3px;
    transition: all 0.2s;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    background-color: #d4d4d4;
    color: #646464;
    //Change for the <button> element
    border: none;
    margin: 0 4px;
    cursor: pointer;
    height: $button-height;
  }

  &:hover {
    background-color: #e4e4e4;
    &::after {
      // transform: scaleX(1.2) scaleY(1.3);
      // opacity: 0;
    }
  }
  &.with-icon {
    display: flex;
    align-items: center;
    max-width: 180px;

    svg,
    i {
      margin-right: 7px;
      font-size: 18px;
      color: #fff;
    }
  }
  &.with-drop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    & > span {
      flex-grow: 1;
      padding: 0 16px;
    }
    .button-drop {
      width: 35px;
      height: 40px;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #cdd3da;

      &:hover {
        // filter: brightness(.85);
      }

      svg {
        font-size: 18px;
      }
    }
  }
  &-disabled {
    &,
    &:disabled {
      background-color: #{$btn-disabled-color} !important;
      pointer-events: none !important;
      cursor: not-allowed !important;
      color: #{$btn-disabled-text-color} !important;
      border: 1px solid #{$btn-disabled-border-color} !important;
      &:hover {
        background-color: #{$btn-disabled-color};
      }
    }
  }
  &-primary {
    @include buttonMixin($btn-primary-color, #fafafa, lighten);
  }
  &-primary-lightest {
    @include buttonMixin($btn-primary-light-color, #fafafa, darken);
  }
  &-primary-dark {
    @include buttonMixin($btn-primary-dark-color, #fafafa, lighten);
  }
  &-danger {
    @include buttonMixin($btn-danger-color, #fafafa, lighten);
  }
  &-danger-light {
    @include buttonMixin($btn-danger-light-color, #fafafa, darken);
  }
  &-danger-dark {
    @include buttonMixin($btn-danger-dark-color, #fafafa, lighten);
  }
  &-green {
    @include buttonMixin($btn-green-color, #fafafa, lighten);
  }
  &-green-dark {
    @include buttonMixin($btn-green-dark-color, #fafafa, lighten);
  }
  &-secondary {
    @include buttonMixin($btn-secondary-color, #333, lighten);
  }
  &-secondary-light {
    @include buttonMixin($btn-secondary-light-color, #333, darken);
  }
  &-secondary-dark {
    @include buttonMixin($btn-secondary-dark-color, #333, lighten);
  }
  &-highlight {
    @include buttonMixin($btn-highlight-color, #0581fe, darken);
    border: 1px solid #dde5ed;
  }
  &-primary-light {
    @include buttonMixin(#ecf4ff, #0581fe, darken);
  }
  &-grey {
    @include buttonMixin(#efefef, #0581fe, darken);
  }
  &-white {
    @include buttonMixin(#fcfcfd, #3a3d43, darken);
    border: 1px solid #dde5ed;
  }
}

.button-outline {
  &,
  &:link,
  &:visited {
    text-transform: capitalize;
    text-decoration: none;
    padding: 0px 16px;
    display: inline-block;
    border-radius: 3px;
    transition: all 0.2s;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    color: #646464;
    border: 1px solid #646464;
    //Change for the <button> element
    border: none;
    margin: 0 4px;
    cursor: pointer;
    height: $button-height;
  }

  &:hover {
    background-color: #646464;
    color: #fafafa;
  }
  &.with-icon {
    display: flex;
    align-items: center;
    max-width: 180px;

    svg,
    i {
      margin-right: 7px;
      font-size: 18px;
      color: #fff;
    }
  }
  &-disabled {
    &,
    &:disabled {
      background-color: #{$btn-disabled-color} !important;
      pointer-events: none !important;
      cursor: not-allowed !important;
      color: #{$btn-disabled-text-color} !important;
      border: 1px solid #{$btn-disabled-border-color} !important;
      &:hover {
        background-color: #{$btn-disabled-color};
      }
    }
  }
  &-primary {
    @include buttonOutlineMixin($btn-primary-color, #fafafa, lighten);
  }
  &-primary-light {
    @include buttonOutlineMixin($btn-primary-light-color, #fafafa, darken);
  }
  &-primary-dark {
    @include buttonOutlineMixin($btn-primary-dark-color, #fafafa, lighten);
  }
  &-danger {
    @include buttonOutlineMixin($btn-danger-color, #fafafa, lighten);
  }
  &-danger-light {
    @include buttonOutlineMixin($btn-danger-light-color, #fafafa, darken);
  }
  &-danger-dark {
    @include buttonOutlineMixin($btn-danger-dark-color, #fafafa, lighten);
  }
  &-green {
    @include buttonOutlineMixin($btn-green-color, #fafafa, lighten);
  }
  &-green-dark {
    @include buttonOutlineMixin($btn-green-dark-color, #fafafa, lighten);
  }
  &-secondary {
    @include buttonOutlineMixin($btn-secondary-color, #333, lighten);
  }
  &-secondary-light {
    @include buttonOutlineMixin($btn-secondary-light-color, #333, darken);
  }
  &-secondary-dark {
    @include buttonOutlineMixin($btn-secondary-dark-color, #333, lighten);
  }
  &-highlight {
    @include buttonOutlineMixin($btn-highlight-color, #0581fe, darken);
  }
}

.disabled-link {
  pointer-events: none;
}

.color-white {
  color: white !important;
}
