$recent-color: rgb(169, 175, 186);
.recent-search {
  font-family: $font-stack;
  padding-top: 1rem;
  &__header {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    font-family: $font-stack;
    .domain-icon {
      font-size: 1.5rem;
      color: $recent-color;
    }
    .header-text {
      padding-left: 0.75rem;
      color: $recent-color;
      font-size: 0.8rem;
      letter-spacing: 0.3px;
      font-weight: 600;
    }
  }
  &__blocks {
    display: flex;
    flex-wrap: wrap;
    .recent-search-block {
      font-family: $font-stack;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(208, 211, 217);
      border-image: initial;
      border-radius: 3px;
      flex: initial;
      margin: 10px 18px 0px 0px;
      padding: 8px 14px;
      width: auto;
      min-width: 194px;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      position: relative;
      .name {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        color: $color-primary;
        font-weight: bold;
        float: none;
        width: 100%;
        overflow: hidden;
        padding: 0.3rem 0;
      }
      .type {
        font-size: 14px;
        line-height: 18px;
        color: #908d8d;
      }
      .count {
        position: absolute;
        top: -10px;
        right: 6px;
        height: 21px;
        max-width: 50px;
        color: rgb(255, 255, 255);
        font-size: 11px;
        line-height: 15pt;
        min-width: 21px;
        text-align: center;
        background: rgb(255, 61, 61);
        border-radius: 10.5px;
        padding: 0px 6px;
      }
    }
  }
}
